.barbarian {
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 5px;
    padding: 0px 3px;
    background-color: red;
}

.crusader {
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 5px;
    padding: 0px 3px;
    background-color: yellow;
}

.demonhunter {
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 5px;
    padding: 0px 3px;
    color: white;
    background-color: purple;
}

.monk {
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 5px;
    padding: 0px 3px;
    background-color: orange;
}

.necromancer {
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 5px;
    padding: 0px 3px;
    background-color: turquoise;
}

.witchdoctor {
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 5px;
    padding: 0px 3px;
    color: white;
    background-color: green;
}

.wizard {
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 5px;
    padding: 0px 3px;
    color: white;
    background-color: blue;
}

hr {
    background-color: white;
    height: 1px;
    border: 0;
}