.button {
    margin-left: 1em;
}

#barbarian {
    background-color: red;
}

#common {
    background-color: white;
}

#crusader {
    background-color: yellow;
}

#demonhunter {
    color: white;
    background-color: purple;
}

#monk {
    background-color: orange;
}

#necromancer {
    background-color: turquoise;
}

#witchdoctor {
    color: white;
    background-color: green;
}

#wizard {
    color: white;
    background-color: blue;
}