<div class="action-buttons-wrapper">
    <div class="action-button">
        <button mat-raised-button (click)="accordion.openAll()">Expand All</button>
    </div>
    <div class="action-button">
        <button mat-raised-button (click)="accordion.closeAll()">Collapse All</button>
    </div>
</div>

<mat-accordion class="example-headers-align" multi>
    <div class="card">
        <mat-expansion-panel class="legendary">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    HELM
                </mat-panel-title>
                <mat-panel-description>
                    Type your name and age
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field>
                <mat-label>First name</mat-label>
                <input matInput>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Age</mat-label>
                <input matInput type="number" min="1">
            </mat-form-field>

        </mat-expansion-panel>
    </div>
    <div class="card">
        <mat-expansion-panel class="set">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    HELM
                </mat-panel-title>
                <mat-panel-description>
                    Type your name and age
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field>
                <mat-label>First name</mat-label>
                <input matInput>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Age</mat-label>
                <input matInput type="number" min="1">
            </mat-form-field>

        </mat-expansion-panel>
    </div>
    <div class="card">
        <mat-expansion-panel class="set">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    HELM
                </mat-panel-title>
                <mat-panel-description>
                    Type your name and age
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field>
                <mat-label>First name</mat-label>
                <input matInput>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Age</mat-label>
                <input matInput type="number" min="1">
            </mat-form-field>

        </mat-expansion-panel>
    </div>
    <div class="card">
        <mat-expansion-panel class="set">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    HELM
                </mat-panel-title>
                <mat-panel-description>
                    Type your name and age
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field>
                <mat-label>First name</mat-label>
                <input matInput>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Age</mat-label>
                <input matInput type="number" min="1">
            </mat-form-field>

        </mat-expansion-panel>
    </div>
    <div class="card">
        <mat-expansion-panel class="set">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    HELM
                </mat-panel-title>
                <mat-panel-description>
                    Type your name and age
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field>
                <mat-label>First name</mat-label>
                <input matInput>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Age</mat-label>
                <input matInput type="number" min="1">
            </mat-form-field>

        </mat-expansion-panel>
    </div>
    <div class="card">
        <mat-expansion-panel class="set">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    HELM
                </mat-panel-title>
                <mat-panel-description>
                    Type your name and age
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field>
                <mat-label>First name</mat-label>
                <input matInput>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Age</mat-label>
                <input matInput type="number" min="1">
            </mat-form-field>

        </mat-expansion-panel>
    </div>
    <br>
    <div class="card">
        <mat-expansion-panel class="set">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    HELM
                </mat-panel-title>
                <mat-panel-description>
                    Type your name and age
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field>
                <mat-label>First name</mat-label>
                <input matInput>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Age</mat-label>
                <input matInput type="number" min="1">
            </mat-form-field>

        </mat-expansion-panel>
    </div>
</mat-accordion>