/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: lightslategray }

@import '@angular/material/prebuilt-themes/indigo-pink.css';

.action-buttons-wrapper {
    padding: 10px;
}

.action-button {
    display: inline-block;
    padding: 10px;
}

.mat-raised-button {
    background-color: lightgray;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
flex-basis: 0;
}

.mat-expansion-panel-header-title {
    font-weight: bold;
}

.example-headers-align .mat-expansion-panel-header-description {
justify-content: space-between;
align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
margin-left: 8px;
}

.legendary {
    background-color: orange;
    opacity: 0.6;
}

.set {
    background-color: limegreen;
    opacity: 0.6;
}

.ancient {
    opacity: 1;
    border: 2px solid;
}

.legendary.ancient {
    border-color: chocolate;
}

.set.ancient {
    border-color: forestgreen;
}

.card {
    display: inline-block;
    text-align: left;
    padding: 10px 20px;
    width: 22.5%;
}

.half-card {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
}

.category {
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    width: 15%
}

.content {
    vertical-align: middle;
    display: inline-block;
    width: 85%
}