/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import '@angular/material/prebuilt-themes/indigo-pink.css';

.action-buttons-wrapper {
    padding: 10px;
}

.action-button {
    display: inline-block;
    padding: 10px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
flex-basis: 0;
}

.mat-expansion-panel-header-title {
    font-weight: bold;
}

.example-headers-align .mat-expansion-panel-header-description {
justify-content: space-between;
align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
margin-left: 8px;
}

.legendary {
    background-color: orange;
}

.set {
    background-color: greenyellow;
}

.card {
    display: inline-block;
    padding: 10px 20px;
    width: 22.5%;
}